{{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
    <div class="row">
        <div class="col-md-12 mb-3">
            {{ form_row(form.theme, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            {{ form_row(form.author, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-md-6 mb-3">
            {{ form_row(form.category, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    {{ form_rest(form) }}

    <div class="d-flex justify-content-between mt-4">
        <a href="{{ path('app_publication_index') }}" class="btn btn-secondary">Back to list</a>
        <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}